ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    margin: 0 0 1rem 0;
    flex-direction: row;
    overflow: hidden;
}

img {
    height: 10rem;
    padding-right: 1rem;
}

.form-check {
    padding-left: 0;
}